/* Write your CSS here */

.container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  font-family: 'Roboto';
}
.show-hide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin-left: 32px;
  margin-right: 32px;
}
.show-hide-button {
  color: #dd1264;
  font-size: 14px;
  font-family: 'Roboto';
  border: none;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.name {
  background-color: #fddddb;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 15px;
}
